h1{
    text-align: center;
}


.display{
    width: 498px;
    height: 80px;
    background-color: lightgray;
    display: flex;
    margin-left: 3px;
    border: 1px black solid;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    font-size: 64px;
    padding: 4px;
}

.buttonGrid{
    padding: 3px;
}

.calculator{
    margin-left: auto;
    margin-right: auto;
    height:540px;
    width: 515px;
    padding: 6px;
    background-color: grey;
}

.operator{
    background-color: orange;
}

button{
    width: 124px;
    height: 85px;
    margin-bottom: 4px;
    font-size: 20px;
    border: 1px solid black;
}

button:hover{
    background-color: gainsboro;
}
button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }

.clear, .del{
    width: 252px;
    background-color: lightpink;
}


.equals{
    background-color: lightblue;
}